# Entornos virtuales
venv/
env/
.env

# Bytecode de Python
__pycache__/
*.py[cod]

# ChromaDB persistence storage
chroma_db/

# Sistema operativo
.DS_Store

# test
pytest.ini

# cache
.pytest_cache/

# vscode
.vscode/